{% extends "base.html" %}
{% block content %}

<div class="container">
        <div class="row">
            <p><a href="{% url 'women-products-view' %}">All Products </a> &gt;
                {{ product.name }}
            </p>
                <h2>{{ product.name }}</h2>
            <a>
        <img src="{{ product.image_1.url }}" hspace='40' vspace='40' width='250px' height='250px' alt=""/>
            </a>
                <p>Price ${{ product.price }}</p>

                <form action="{% url 'product-view' product.id %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Add to cart" class="btn btn-primary" >
                </form>
        </div>

    </div>

{% endblock %}