{% extends "base.html" %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Active orders</legend>
            {% if orders %}
        {% for order in orders %}
            <a href={{order.id}}>{{order}}: {{order.service}}</a><br><br>



{% endfor %}
{% endif %}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}