{% extends "base.html" %}

{% block content %}
		<div class="container">
			<div id="bg-img-main" class="row bg-img">
            <div class="col-12 d-flex vh100-l-vh80-m-vh60-s opacity-6">
                <div class="bg-img-text m-auto w-100">
                    <h1 class="text-center text-light">Welcome to MOIRAI</h1>
                </div>
            </div>
        </div>
		</div>
			<div class="clearfix">
  				<div class="img-container" >
						<a href="{% url 'product_by_gender' gender='Woman' %}">
						<img src="media/Slide1.jpg" style="width:45%" class="rounded float-left" alt="Responsive image">
						</a>
						<a href="{% url 'product_by_gender' gender='Man' %}">
						<img src="media/Slide1-2.jpg" alt="IMG-BANNER"  class="rounded float-right" style="width:45%" >
						</a>
				</div>
			</div>


{% endblock %}
